Repository danieleschmidt/quantum-agent-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: quantum-config-check, dockerfile-lint, poetry-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-case-conflict
      - id: check-docstring-first
      - id: debug-statements
      - id: requirements-txt-fixer

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.280
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies: [flake8-docstrings, flake8-bugbear]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml']
        additional_dependencies: ['bandit[toml]']

  - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yml]

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        match: '^src/'

  - repo: local
    hooks:
      - id: quantum-config-check
        name: Validate quantum backend configurations
        entry: python scripts/validate_quantum_configs.py
        language: system
        files: ^(config/|src/quantum_scheduler/backends/).*\.(py|yml|yaml|json)$
        pass_filenames: false

      - id: dockerfile-lint
        name: Lint Dockerfile
        entry: hadolint
        language: system
        files: Dockerfile
        
      - id: poetry-check
        name: Validate poetry configuration
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false

feat: comprehensive SDLC maturity enhancements for maturing repository
  .devcontainer/devcontainer.json
  docs/workflows/WORKFLOW_SETUP.md
  docs/workflows/templates/ci.yml
  docs/workflows/templates/container-security.yml
  docs/workflows/templates/docs.yml
  docs/workflows/templates/health-check.yml
  docs/workflows/templates/performance.yml
  docs/workflows/templates/quantum-integration.yml
  docs/workflows/templates/release.yml
  docs/workflows/templates/security.yml
  observability/docker-compose.monitoring.yml
  observability/grafana-datasources.yml
  observability/loki-config.yml
  observability/otel-collector-config.yml
  observability/promtail-config.yml
  pytest.ini
Due: none

feat: implement Terragon Autonomous SDLC with perpetual value discovery
  .github/workflows/ci.yml
  .github/workflows/container-security.yml
  .github/workflows/docs.yml
  .github/workflows/health-check.yml
  .github/workflows/performance.yml
  .github/workflows/quantum-integration.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .terragon/README.md
  .terragon/autonomous-executor.py
  .terragon/backlog.json
  .terragon/config.yaml
  .terragon/scheduler.py
  .terragon/value-engine.py
  AUTONOMOUS_BACKLOG.md
  terragon-autonomous-sdlc.sh
Due: none

feat: implement Terragon Autonomous SDLC with perpetual value discovery
  .github/workflows/ci.yml
  .github/workflows/container-security.yml
  .github/workflows/docs.yml
  .github/workflows/health-check.yml
  .github/workflows/performance.yml
  .github/workflows/quantum-integration.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .terragon/README.md
  .terragon/backlog.json
  AUTONOMOUS_BACKLOG.md
  TERRAGON_IMPLEMENTATION_SUMMARY.md
Due: none

docs: establish project foundation and community files
  CHANGELOG.md
  docs/guides/README.md
Due: none

feat: setup development environment and code quality tools
  .editorconfig
  .env.example
  package.json
Due: none

test: establish comprehensive testing infrastructure
  docs/testing/README.md
  tests/fixtures/quantum_backends.json
  tests/fixtures/scheduling_problems.json
  tests/performance/test_benchmarks.py
Due: none

build: add containerization and build automation
  .dockerignore
  docs/deployment/README.md
Due: none

ops: add monitoring and observability configuration
  docs/monitoring/ALERTING.md
  docs/runbooks/README.md
Due: none

docs: add CI/CD and security workflow documentation and templates
  docs/SETUP_REQUIRED.md
Due: none

feat: add metrics tracking and automation scripts
  .github/project-metrics.json
  scripts/dependency_updater.py
  scripts/metrics_collector.py
  scripts/repository_maintenance.py
Due: none

feat: complete SDLC implementation with repository configuration
  CODEOWNERS
  TERRAGON_IMPLEMENTATION_SUMMARY.md
Due: none

feat(quantum_scheduler): add complete production-ready quantum agent scheduler system
  IMPLEMENTATION_COMPLETE.md
  PRODUCTION_READY.md
  src/quantum_scheduler/backends/__init__.py
  src/quantum_scheduler/backends/base.py
  src/quantum_scheduler/backends/quantum.py
  src/quantum_scheduler/cli.py
  src/quantum_scheduler/concurrent/__init__.py
  src/quantum_scheduler/concurrent/pool.py
  src/quantum_scheduler/constraints/__init__.py
  src/quantum_scheduler/constraints/base.py
  src/quantum_scheduler/core/__init__.py
  src/quantum_scheduler/core/exceptions.py
  src/quantum_scheduler/core/models.py
  src/quantum_scheduler/core/scheduler.py
  src/quantum_scheduler/core/validators.py
  src/quantum_scheduler/health.py
  src/quantum_scheduler/monitoring/__init__.py
  src/quantum_scheduler/monitoring/metrics.py
  src/quantum_scheduler/optimization/__init__.py
  src/quantum_scheduler/optimization/caching.py
  src/quantum_scheduler/security/__init__.py
  src/quantum_scheduler/security/sanitizer.py
  tests/integration/test_end_to_end.py
  tests/security/test_security.py
  tests/unit/test_comprehensive.py
Due: quantum-config-check

feat(quantum_scheduler): add complete production-ready quantum agent scheduler system (#10)
  IMPLEMENTATION_COMPLETE.md
  PRODUCTION_READY.md
  src/quantum_scheduler/backends/__init__.py
  src/quantum_scheduler/backends/base.py
  src/quantum_scheduler/backends/quantum.py
  src/quantum_scheduler/cli.py
  src/quantum_scheduler/concurrent/__init__.py
  src/quantum_scheduler/concurrent/pool.py
  src/quantum_scheduler/constraints/__init__.py
  src/quantum_scheduler/constraints/base.py
  src/quantum_scheduler/core/__init__.py
  src/quantum_scheduler/core/exceptions.py
  src/quantum_scheduler/core/models.py
  src/quantum_scheduler/core/scheduler.py
  src/quantum_scheduler/core/validators.py
  src/quantum_scheduler/health.py
  src/quantum_scheduler/monitoring/__init__.py
  src/quantum_scheduler/monitoring/metrics.py
  src/quantum_scheduler/optimization/__init__.py
  src/quantum_scheduler/optimization/caching.py
  src/quantum_scheduler/security/__init__.py
  src/quantum_scheduler/security/sanitizer.py
  tests/integration/test_end_to_end.py
  tests/security/test_security.py
  tests/unit/test_comprehensive.py
Due: quantum-config-check

Update README.md
  README.md
Due: none

feat(benchmark): add comprehensive scheduler benchmarking tools
  PRODUCTION_DEPLOYMENT_GUIDE.md
  src/quantum_scheduler/benchmarks/__init__.py
  src/quantum_scheduler/benchmarks/scheduler_benchmark.py
  src/quantum_scheduler/core/models.py
  tests/conftest.py
Due: none

feat(benchmark): add comprehensive scheduler benchmarking tools (#11)
  PRODUCTION_DEPLOYMENT_GUIDE.md
  src/quantum_scheduler/benchmarks/__init__.py
  src/quantum_scheduler/benchmarks/scheduler_benchmark.py
  src/quantum_scheduler/core/models.py
  tests/conftest.py
Due: none

chore(dependencies): update python version constraint to >=3.10,<=3.13
  pyproject.toml
Due: poetry-check

chore(dependencies): update python version constraint to >=3.10,<=3.13 (#12)
  pyproject.toml
Due: poetry-check

feat(deployment): add production deployment setup with Kubernetes and Docker
  DEPLOYMENT_GUIDE.md
  QUALITY_GATES_REPORT.md
  TERRAGON_SDLC_COMPLETION_SUMMARY.md
  deployment/kubernetes/quantum-scheduler.yaml
  deployment/production/Dockerfile
  deployment/production/docker-compose.prod.yml
  deployment/production/nginx/nginx.conf
  deployment/production/scripts/start.sh
  examples/research_validation_demo.py
  src/quantum_scheduler/cloud/__init__.py
  src/quantum_scheduler/cloud/multi_region_orchestrator.py
  src/quantum_scheduler/optimization/__init__.py
  src/quantum_scheduler/optimization/quantum_circuit_optimizer.py
  src/quantum_scheduler/reliability/__init__.py
  src/quantum_scheduler/reliability/error_correction.py
  src/quantum_scheduler/research/__init__.py
  src/quantum_scheduler/research/automated_benchmarking.py
  src/quantum_scheduler/research/quantum_annealing_optimizer.py
  tests/research/test_quantum_research.py
Due: dockerfile-lint

feat(deployment): add production deployment setup with Kubernetes and Docker (#13)
  DEPLOYMENT_GUIDE.md
  QUALITY_GATES_REPORT.md
  TERRAGON_SDLC_COMPLETION_SUMMARY.md
  deployment/kubernetes/quantum-scheduler.yaml
  deployment/production/Dockerfile
  deployment/production/docker-compose.prod.yml
  deployment/production/nginx/nginx.conf
  deployment/production/scripts/start.sh
  examples/research_validation_demo.py
  src/quantum_scheduler/cloud/__init__.py
  src/quantum_scheduler/cloud/multi_region_orchestrator.py
  src/quantum_scheduler/optimization/__init__.py
  src/quantum_scheduler/optimization/quantum_circuit_optimizer.py
  src/quantum_scheduler/reliability/__init__.py
  src/quantum_scheduler/reliability/error_correction.py
  src/quantum_scheduler/research/__init__.py
  src/quantum_scheduler/research/automated_benchmarking.py
  src/quantum_scheduler/research/quantum_annealing_optimizer.py
  tests/research/test_quantum_research.py
Due: dockerfile-lint

feat(deployment): add comprehensive production deployment guide with Docker and Kubernetes
  PRODUCTION_DEPLOYMENT_GUIDE.md
  src/quantum_scheduler/backends/base.py
  src/quantum_scheduler/cloud/multi_region.py
  src/quantum_scheduler/compliance/__init__.py
  src/quantum_scheduler/core/enhanced_scheduler.py
  src/quantum_scheduler/i18n/__init__.py
  src/quantum_scheduler/optimization/adaptive_load_balancer.py
  src/quantum_scheduler/optimization/distributed_scheduler.py
  src/quantum_scheduler/reliability/__init__.py
  src/quantum_scheduler/reliability/circuit_breaker.py
  src/quantum_scheduler/reliability/retry_policy.py
  tests/integration/test_end_to_end.py
  tests/performance/test_enhanced_performance.py
  tests/security/test_enhanced_security.py
  tests/unit/test_enhanced_scheduler.py
Due: quantum-config-check

feat(deployment): add comprehensive production deployment guide with Docker and Kubernetes (#14)
  PRODUCTION_DEPLOYMENT_GUIDE.md
  src/quantum_scheduler/backends/base.py
  src/quantum_scheduler/cloud/multi_region.py
  src/quantum_scheduler/compliance/__init__.py
  src/quantum_scheduler/core/enhanced_scheduler.py
  src/quantum_scheduler/i18n/__init__.py
  src/quantum_scheduler/optimization/adaptive_load_balancer.py
  src/quantum_scheduler/optimization/distributed_scheduler.py
  src/quantum_scheduler/reliability/__init__.py
  src/quantum_scheduler/reliability/circuit_breaker.py
  src/quantum_scheduler/reliability/retry_policy.py
  tests/integration/test_end_to_end.py
  tests/performance/test_enhanced_performance.py
  tests/security/test_enhanced_security.py
  tests/unit/test_enhanced_scheduler.py
Due: quantum-config-check

feat(research): add complete quantum scheduler research framework
  RESEARCH_IMPLEMENTATION_SUMMARY.md
  docs/research/ADAPTIVE_QUBO_OPTIMIZATION.md
  docs/research/QUANTUM_ADVANTAGE_RESEARCH.md
  docs/research/RESEARCH_METHODOLOGY.md
  examples/research_quantum_advantage_demo.py
  src/quantum_scheduler/research/adaptive_qubo_optimizer.py
  src/quantum_scheduler/research/comparative_analysis_framework.py
  src/quantum_scheduler/research/quantum_advantage_predictor.py
  tests/research/test_adaptive_qubo_optimizer.py
  tests/research/test_quantum_advantage_predictor.py
  validate_research_implementation.py
Due: none

feat(research): add complete quantum scheduler research framework (#17)
  RESEARCH_IMPLEMENTATION_SUMMARY.md
  docs/research/ADAPTIVE_QUBO_OPTIMIZATION.md
  docs/research/QUANTUM_ADVANTAGE_RESEARCH.md
  docs/research/RESEARCH_METHODOLOGY.md
  examples/research_quantum_advantage_demo.py
  src/quantum_scheduler/research/adaptive_qubo_optimizer.py
  src/quantum_scheduler/research/comparative_analysis_framework.py
  src/quantum_scheduler/research/quantum_advantage_predictor.py
  tests/research/test_adaptive_qubo_optimizer.py
  tests/research/test_quantum_advantage_predictor.py
  validate_research_implementation.py
Due: none

feat(research): add comprehensive quantum scheduling research framework
  docs/research/QUANTUM_COMPUTING_RESEARCH_FRAMEWORK.md
  src/quantum_scheduler/research/hybrid_communication_protocols.py
  src/quantum_scheduler/research/industry_benchmark_suite.py
  src/quantum_scheduler/research/quantum_error_mitigation.py
  src/quantum_scheduler/research/scalability_validation.py
  tests/research/test_hybrid_communication_protocols.py
  tests/research/test_quantum_error_mitigation.py
Due: none

feat(research): add comprehensive quantum scheduling research framework (#18)
  docs/research/QUANTUM_COMPUTING_RESEARCH_FRAMEWORK.md
  src/quantum_scheduler/research/hybrid_communication_protocols.py
  src/quantum_scheduler/research/industry_benchmark_suite.py
  src/quantum_scheduler/research/quantum_error_mitigation.py
  src/quantum_scheduler/research/scalability_validation.py
  tests/research/test_hybrid_communication_protocols.py
  tests/research/test_quantum_error_mitigation.py
Due: none

feat(quantum_research): add comprehensive quantum optimization research modules
  QUANTUM_RESEARCH_IMPLEMENTATION_SUMMARY.md
  examples/comprehensive_research_demo.py
  new_quantum_env/bin/python
  new_quantum_env/bin/python3
  new_quantum_env/bin/python3.12
  new_quantum_env/lib64
  new_quantum_env/pyvenv.cfg
  quantum_research_env/bin/Activate.ps1
  quantum_research_env/bin/activate
  quantum_research_env/bin/activate.csh
  quantum_research_env/bin/activate.fish
  quantum_research_env/bin/f2py
  quantum_research_env/bin/fonttools
  quantum_research_env/bin/numpy-config
  quantum_research_env/bin/pip
  quantum_research_env/bin/pip3
  quantum_research_env/bin/pip3.12
  quantum_research_env/bin/pyftmerge
  quantum_research_env/bin/pyftsubset
  quantum_research_env/bin/python
  quantum_research_env/bin/python3
  quantum_research_env/bin/python3.12
  quantum_research_env/bin/ttx
  quantum_research_env/lib64
  quantum_research_env/pyvenv.cfg
  quantum_research_env/share/man/man1/ttx.1
  src/quantum_scheduler/research/adaptive_quantum_neural_optimizer.py
  src/quantum_scheduler/research/autonomous_performance_evolution.py
  src/quantum_scheduler/research/autonomous_quality_assurance.py
  src/quantum_scheduler/research/industry_quantum_integration.py
  src/quantum_scheduler/research/quantum_meta_learning_framework.py
Due: none

feat(quantum_research): add comprehensive quantum optimization research modules (#19)
  QUANTUM_RESEARCH_IMPLEMENTATION_SUMMARY.md
  examples/comprehensive_research_demo.py
  new_quantum_env/bin/python
  new_quantum_env/bin/python3
  new_quantum_env/bin/python3.12
  new_quantum_env/lib64
  new_quantum_env/pyvenv.cfg
  quantum_research_env/bin/Activate.ps1
  quantum_research_env/bin/activate
  quantum_research_env/bin/activate.csh
  quantum_research_env/bin/activate.fish
  quantum_research_env/bin/f2py
  quantum_research_env/bin/fonttools
  quantum_research_env/bin/numpy-config
  quantum_research_env/bin/pip
  quantum_research_env/bin/pip3
  quantum_research_env/bin/pip3.12
  quantum_research_env/bin/pyftmerge
  quantum_research_env/bin/pyftsubset
  quantum_research_env/bin/python
  quantum_research_env/bin/python3
  quantum_research_env/bin/python3.12
  quantum_research_env/bin/ttx
  quantum_research_env/lib64
  quantum_research_env/pyvenv.cfg
  quantum_research_env/share/man/man1/ttx.1
  src/quantum_scheduler/research/adaptive_quantum_neural_optimizer.py
  src/quantum_scheduler/research/autonomous_performance_evolution.py
  src/quantum_scheduler/research/autonomous_quality_assurance.py
  src/quantum_scheduler/research/industry_quantum_integration.py
  src/quantum_scheduler/research/quantum_meta_learning_framework.py
Due: none

feat(core): add comprehensive core tests for scheduling and optimization
  core_test.py
  debug_errors.py
  enhanced_quality_gates.py
  final_deployment_summary_1755922845.json
  final_production_validator.py
  production_deployment_report_1755922793.json
  production_deployment_validator.py
  production_readiness_report_1755922698.json
  production_ready_dockerfile
  quality_gate_report_1755922605.json
  quality_gates.py
  robust_test.py
  scale_test.py
  simple_test.py
  terragon_master_implementation_report_1755922925.json
  terragon_sdlc_completion_report.py
  test_env/bin/python
  test_env/bin/python3
  test_env/bin/python3.12
  test_env/lib64
  test_env/pyvenv.cfg
Due: none

feat(core): add comprehensive core tests for scheduling and optimization (#33)
  core_test.py
  debug_errors.py
  enhanced_quality_gates.py
  final_deployment_summary_1755922845.json
  final_production_validator.py
  production_deployment_report_1755922793.json
  production_deployment_validator.py
  production_readiness_report_1755922698.json
  production_ready_dockerfile
  quality_gate_report_1755922605.json
  quality_gates.py
  robust_test.py
  scale_test.py
  simple_test.py
  terragon_master_implementation_report_1755922925.json
  terragon_sdlc_completion_report.py
  test_env/bin/python
  test_env/bin/python3
  test_env/bin/python3.12
  test_env/lib64
  test_env/pyvenv.cfg
Due: none

feat(research): add comprehensive quantum scheduling research integration suite
  src/quantum_scheduler/research/autonomous_quantum_advantage_evolution.py
  src/quantum_scheduler/research/real_time_quantum_advantage_predictor.py
  src/quantum_scheduler/research/research_integration_suite.py
  src/quantum_scheduler/research/statistical_validation_framework.py
Due: none

feat(research): add comprehensive quantum scheduling research integration suite (#34)
  src/quantum_scheduler/research/autonomous_quantum_advantage_evolution.py
  src/quantum_scheduler/research/real_time_quantum_advantage_predictor.py
  src/quantum_scheduler/research/research_integration_suite.py
  src/quantum_scheduler/research/statistical_validation_framework.py
Due: none

feat: Complete Terragon SDLC autonomous execution with validation reports
  final_deployment_summary_1756106209.json
  quality_gate_report_1756106207.json
Due: none

feat: Complete Terragon SDLC autonomous execution with validation reports (#44)
  final_deployment_summary_1756106209.json
  quality_gate_report_1756106207.json
Due: none
